/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


:root {
    --background-color-white: #FFFFFF;
    --main-color-orange: #F2BF87;
    --second-color-orange: #CE904B;
    --text-color-black: #232323;
    --no-button-red: #ED5B5B;
    --yes-button-green: #72D188;
}




/*********** BODY GENERAL ***********/
body{
    position: relative;
}

h1 {
    color: var(--main-color-orange);
    font-family: new-order, sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}
    
p {
    color: var(--text-color-black);
    font-family: new-order, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

a {
    background-color: var(--second-color-orange);
    color: var(--background-color-white);
    font-family: new-order, sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    padding: .5em 1.5em;
    border: none;
    border-radius: 3em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;

    display: block;
    width: max-content;
    text-decoration: none;
    
}

li {
    color: var(--text-color-black);
    font-family: new-order, sans-serif;
    font-weight: 700;
    font-size: 1.2em; 
}






/*********** HEADER ZERO & PROFIEL ***********/
.zero header, .profiel header {
    background-color: var(--main-color-orange);
    height: 5em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
}
.zero header img, .profiel header img, .home header img {
   display: block;
   padding-top: .5em;
   margin-left: auto;
   margin-right: auto;
}

.home header {
    background-color: var(--main-color-orange);
    height: 5em;
}



/*********** MAIN HOME ***********/
.home main {
    background-color: var(--main-color-orange);
}
.home main h2 {
    font-family: new-order, sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: var(--background-color-white);
    padding-top: .2em;
    padding-bottom: .2em;
    margin-left: .9em;
}


/*********** MAIN ZERO ***********/
.zero section:nth-of-type(1) {
    width: 24em;
    margin-left: auto;
    margin-right: auto;
}


/*********** FOOTER HOME ***********/
.home footer {
    background-color: var(--second-color-orange);
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    height: 2.5em;

}

/*********** FORM ***********/
form {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    flex-direction: column;

}

label {
    padding: .5em .5em;
    font-size: 1.3em;
    font-family: new-order, sans-serif;
}

select {
    font-size: .8em;
    font-family: new-order, sans-serif;
    padding: .2em 1em;
    margin-left: 1em;
}

input {
    padding: .2em 1em;
    margin-left: 1em;
}

button {
    background-color: var(--second-color-orange);
    color: var(--background-color-white);
    font-family: new-order, sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    padding: .5em 1.5em;
    border: none;
    border-radius: 3em;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;

    display: block;
    width: max-content;
    text-decoration: none;

}



.home section img {
    border-radius: 2em;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
    display: block;
}

.container-foto {
    width: 430px;
    height: 430px;
}

.home h1 {
    color: var(--background-color-white);
}