<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Hobby Connector</title>
    
        <link href="styles/styles.css" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="images/logo2.png">
    
        <!-- fonts -->
        <link rel="stylesheet" href="https://use.typekit.net/hro6ggv.css"> <!-- new order -->
    </head>

<body class="home">
    <header>
        <%- include('includes/header.ejs') -%>
    </header>

    <main>
        <section>
            <div class="container-foto">
                <img src="images/jopie.jpeg" alt="Jopie (81 jaar)">
            </div>  
            <h1> <%= profielen[0].naam %> </h1>
            <p>Houdt van: breien, tuinieren en puzzelen</p>
            <p>Omgeving: Breda</p>
            <p>Irritaties: onkruid</p>

            <button>X</button>
            <button>X</button>
        </section>
    </main>

    <footer>
        <button>X</button>
    </footer>
</body>
</html>
