<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Hobby Connector</title>
    
        <link href="styles/styles.css" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="images/logo2.png">
    
        <!-- fonts -->
        <link rel="stylesheet" href="https://use.typekit.net/hro6ggv.css"> <!-- new order -->
    </head>

<body class="profiel">
    <header>
        <img src="./images/logo1.png" alt="Logo Hobby Connector">
    </header>

    <main>
        <h1>Profiel maken</h1>
 
        <form action="home.html" method="post">
            <label for="name">Naam: 
                <input type="text" name="name" id="name" required size="30">
            </label>

            <label for="email">Email:
                <input type="email" name="email" id="email" required size="30">
            </label>

            <label for="hobby">Hobby's:
                <select name="hobby" id="hobby">
                    <option value="puzzelen">Puzzelen</option>
                    <option value="breien">Breien</option>
                    <option value="wandelen">Wandelen</option>
                    <option value="tuinieren">Tuinieren</option>
                    <option value="kaarten">Kaarten</option>
                    <option value="sporten">Sporten</option>
                </select>
            </label>

            <label for="omgeving">Omgeving:
                <select name="omgeving" id="omgeving">
                    <option value="noord-holland">Noord-Holland</option>
                    <option value="zuid-holland">Zuid-Holland</option>
                    <option value="utrecht">Utrecht</option>
                    <option value="zeeland">Zeeland</option>
                    <option value="noord-brabant">Noord-Brabant</option>
                    <option value="limburg">Limburg</option>
                    <option value="gelderland">Gelderland</option>
                    <option value="overijssel">Overijssel</option>
                    <option value="flevoland">Flevoland</option>
                    <option value="drenthe">Drenthe</option>
                    <option value="groningen">Groningen</option>
                    <option value="friesland">Friesland</option>
                </select>
            </label>

            <label for="irritaties">Irritaties:
                <select name="irritaties" id="irritaties">
                    <option value="snurken">Snurken</option>
                    <option value="natte sokken">Natte sokken</option>
                    <option value="beslagen bril">Beslagen bril</option>
                    <option value="jeuk">Jeuk</option>
                    <option value="lawaai">Lawaai</option>
                </select>
            </label>
               

            <button type="submit">Maak aan</button>
        </form>


        
    </main>

    <footer>

    </footer>
    
</body>
</html>