.error section {
    margin-left: auto;
    margin-right: auto;
}

.error main section p {
    margin-top: 1.5em;
    width: 70%;
}

.error main section img {
    display: block;

    margin-top: -1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

.error main a {
    margin-top: 5em;
}