/***** deels code is van tessa, https://github.com/TessaFlorance/Blok-tech */
.caroussel {
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.caroussel ul {
  display: flex;

  margin: 2em;
  padding: 0;

  list-style: none;
  transition: ease-out .7s;
}

.disabledJS {
  display: flex;

  margin: 2em;
  padding: 0;

  list-style: none;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.caroussel ul li {
  display: block;
  flex-shrink: 0;
  position: relative;
  
  margin-right: 1em;
  width: 100%;
  
  background-color: var(--second-color-orange);
  border-radius: 2em;
  
  scroll-snap-align: center;
}

.caroussel ul li img {
  padding-bottom: 3em;
  
  border-radius: 2em 2em 0 0;
}

.caroussel ul li p {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
  width: 90%;

  color: var(--background-color-white);
  font-family: new-order, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

.caroussel ul li p:first-of-type {
  font-size: 1.6em;
  font-weight: 800;
}

.caroussel ul li p:last-of-type {
  padding-bottom: 1em;
}
