/*********** FORM ***********/
form {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

label {
  padding: 0.5em 0.5em;

  font-size: 1.3em;
  font-family: new-order, sans-serif;
}

select {
  margin-left: 1em;
  padding: 0.2em 1em;

  font-family: new-order, sans-serif;
  font-size: 0.8em;
}

input {
  margin-left: 1em;
  padding: 0.2em 1em;
}

button {
  display: block;

  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1.5em;
  width: max-content;

  background-color: var(--second-color-orange);
  color: var(--background-color-white);
  font-family: new-order, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  border: none;
  border-radius: 3em;
  text-decoration: none;
}
