nav button {
    width: 4em;
    height: 5em;
    border:none;
    margin: 0;
    padding: 0;
  
    background-color: transparent;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: relative;
    z-index:200;
  
    cursor: pointer;
  
    font-size: 1em;
  }
  
  nav button span {
    display: block;
    width: 50%;
    height:3px;
    border-radius: 1.5px;
  
    background-color: var(--background-color-white);
  
    position:absolute;
  
    transition: .3s;
  }
  
  nav button span:nth-of-type(1) {
    transform: translateY(-8px);
  }
  
  nav button span:nth-of-type(3) {
    transform: translateY(8px);
  }
  
  nav.toonHamburger button span:nth-of-type(1) {
    transform: rotate(45deg);
  }
  
  nav.toonHamburger button span:nth-of-type(2) {
    opacity: 0;
  }
  
  nav.toonHamburger button span:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  
  nav ul {
    transform: translateY(-100%);
  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding:5em 0 0;
    background-color: var(--second-color-orange);
    list-style-type: none;
    transition: .3s;
  }
  
  nav.toonHamburger ul {
    transform:translateY(0);
  }
  
  nav ul li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  
    margin-bottom: 2.8em;
    padding: 0;
  }
  
  nav ul li a {
    position: absolute;
    left: 1em;
    background-color: none;
  
    padding: 0;
  
    color: var(--background-color-white);
    text-decoration: none;
    
    font-weight: 400;
    font-size: 1.5em;
  }
  