.zero main section p {
    color: var(--text-color-black);
    font-family: new-order, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
