/* main css */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color-white: #ffffff;
  --main-color-orange: #f2bf87;
  --second-color-orange: #ce904b;
  --text-color-black: #232323;
  --grey-disabled: #808080;

}

body {
  position: relative;
}

h1,
h2,
h3,
p,
a,
ul {
  font-family: new-order, sans-serif;
}

h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  color: var(--main-color-orange);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;

  color: var(--text-color-black);
  font-family: new-order, sans-serif;
  font-size: 1.2em;
  font-weight: 400;

}

a {
  display: block;

  margin-left: auto;
  margin-right: auto;
  
  padding: 0.5em 1.5em;
  width: max-content;

  background-color: var(--second-color-orange);
  color: var(--background-color-white);
  font-family: new-order, sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  border: none;
  border-radius: 1em;
  text-decoration: none;
}


header {
  height: 6em;

  background-color: var(--main-color-orange);
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
}

header img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}


