/* main css */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color-white: #ffffff;
  --main-color-orange: #f2bf87;
  --second-color-orange: #ce904b;
  --text-color-black: #232323;

}

body {
  position: relative;
}

h1,
h2,
h3,
p,
a,
ul,
l {
  font-family: new-order, sans-serif;
}

h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  color: var(--main-color-orange);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}


header {
  height: 6em;

  background-color: var(--main-color-orange);
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
}

header img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}


