.home {
  background-color: var(--main-color-orange);
}

.home section h1 {
  margin: 0;
  padding: 0;

  color: var(--background-color-white);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.home section h2 {
  margin: 0;
  padding: 0;

  color: var(--background-color-white);
  font-weight: 100;
  text-align: center;
}

.home section img {
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: max-content;
  
  object-fit: fill;
}
