.home {
  background-color: var(--main-color-orange);
}

.home section h1 {
  padding: 0;
  margin: 0;
  color: var(--background-color-white);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

.home section h2 {
  padding: 0;
  margin: 0;
  color: var(--background-color-white);
  text-align: center;
  font-weight: 100;
}

.home section img {
  width: 100%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
  display: block;
}
