.start {
    background-color: var(--main-color-orange);
}

.start main img {
    width: 20em;
}

.start main a {
    background-color: var(--background-color-white);
    color: var(--second-color-orange);
    margin-top: 50%;
    font-size: 2em;
}



.start main p {
    width: 70%;

}