.start section {
   margin-left: auto;
   margin-right: auto;
}


.start main section p {
    width: 70%;
}

.start main section img {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

.start main a {
    margin-top: 1em;
}





