<%- include ("./includes/head.ejs") %>

<body class="error">
    <%- include('includes/header.ejs') %>
    <main>
        <section>
            <h1>Ah oh, error!</h1>
            <img src="/images/error.png" alt="Kapot">
            <p>Er is iets mis gegaan maar geen paniek! Ga terug.</p>
        </section>

        <a href="/">Terug</a>
    </main>
</body>