
<%- include("./includes/head.ejs") %>

<body class="zero">
    <%- include('includes/header.ejs') %>

    <main>
        <section>
            <h1>Profiel maken</h1>
            <p>Stap 1  - maak een profiel met foto's en hobbies.                                    
            <p>Stap 2 -  swipe naar rechts om een connectie te maken of klik op de groene knop.</p>
            <p>Stap 3 - als u geen connectie wilt maken, swipe naar links of klik op de rode knop.</p>
            <p>Stap 4 - ga het gesprek aan!</p>
            <p>Stap 5 -  maak een afspraak en beoefen samen jullie hobby!</p>
        </section>

        <a href="/profiel">Ga door!</a>
    </main>

</body>