<%- include ("./includes/head.ejs") %>

<body class="profiel">
    <%- include('includes/header.ejs') -%>

    <main>
        <h1>Profiel maken</h1>
 
        <form action="/matches" method="post">
            <label for="name">Naam: 
                <input type="text" name="name" id="name" required size="30">
            </label>

            <label for="email">Email:
                <input type="email" name="email" id="email" required size="30">
            </label>

            <label for="leeftijd">Leeftijd:
                <input type="number" name="leeftijd" id="leeftijd">
            </label>

            <label for="hobby">Hobby's:
                <select name="hobby" id="hobby">
                    <option value="Puzzelen">Puzzelen</option>
                    <option value="breien">Breien</option>
                    <option value="wandelen">Wandelen</option>
                    <option value="tuinieren">Tuinieren</option>
                    <option value="Kaarten">Kaarten</option>
                    <option value="sporten">Sporten</option>
                </select>
            </label>

          
            <label for="omgeving">Omgeving:
                <select name="omgeving" id="omgeving">
                    <option value="noord-holland">Noord-Holland</option>
                    <option value="zuid-holland">Zuid-Holland</option>
                    <option value="utrecht">Utrecht</option>
                    <option value="zeeland">Zeeland</option>
                    <option value="noord-brabant">Noord-Brabant</option>
                    <option value="limburg">Limburg</option>
                    <option value="gelderland">Gelderland</option>
                    <option value="overijssel">Overijssel</option>
                    <option value="flevoland">Flevoland</option>
                    <option value="drenthe">Drenthe</option>
                    <option value="groningen">Groningen</option>
                    <option value="friesland">Friesland</option>
                </select>
            </label>

            <button type="submit">Maak aan</button>
        </form>


        
    </main>

    <footer>

    </footer>
    
</body>
</html>
