<%- include ("./includes/head.ejs") %>

<body class="start">
    
    <main>
        <img src="/images/logo2.png" alt="">
        <p>Vind een gezellige andere oudere om samen jullie hobby uit te voeren, of gewoon voor een leuke dag.</p>    

        <a href="/index">Start!</a>
    </main>
</body>

