<%- include ("./includes/head.ejs") %>

<body class="start">
    <%- include('includes/header.ejs') %>
    <main>
        <section>
            <h1>Welkom!</h1>
            <p>Vind een gezellige andere oudere om samen jullie hobby uit te voeren, of gewoon voor een leuke dag.</p>    
            <img src="/images/ouderen.png" alt="Ouderen">
        </section>

        <a href="/index">Start!</a>
    </main>
</body>

